.section_info{
    min-width: 50%;
}

.meImg{
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px #2642ff;
}

.name{
    font-weight: 700;
    font-size: 48px;
    color: #E2E8F0;
    transition: 0.4s all;
    margin: 16px auto;
    text-align: start;
}

.name:hover{
    opacity: 0.8;
}

.occupation{
    font-weight: 700;
    font-size: 24px;
    color: #E2E8F0;
    transition: 0.4s all;
    margin: 0 auto;
    text-align: start;
}

.occupation:hover{
    opacity: 0.8;
}

.section_exp > span{
    opacity: 0.8;
    font-size: 17px;
    line-height: 140%;
    text-align: start;
}
.nav_list{
    margin-top: 60px;
    padding: 0;
}
.nav_list li{
    list-style-type: none;
}
.nav_list li button{
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 600;
    transition: 0.3s all;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: none;
}
.nav_list li:hover button{
    color: #fff;
    opacity: 1;
    font-size: 20px;
}
.nav_list li span{
    margin-right: 1rem;
}
.link_work{
    font-weight: 700;
    text-decoration: none;
    opacity: 1;
    color: #fff;
}
.section_about{
    margin-left: 1rem;
    opacity: 0.8;
    margin-bottom: 5rem;
}
.about{
    line-height: 150%;
}
.box_experience{
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.5s all;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.box_experience:hover{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .20);
    border-radius: 5px;
}
.year_experience, .info_experience{
    transition: 0.5s all;
    height: 100%;
    position: relative;
}
.box_experience:hover .year_experience, .box_experience:hover .profission_experience{
    color: #18e2e6;
}
.box_experience .arrow_up{
    position: absolute;
    top: 0;
    right: 6%;
    transition: 0.5s all;
}
.box_experience:hover .arrow_up{
    top: -8px;
}
.info_experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 67%;
}
.year_experience{
    margin-right: 1rem;
    width: 32%;
}
.desc_experience{
    font-size: 14px;
    margin-top: 1rem;
}
.section_social{
    margin-top: 4rem;
    display: flex;
    gap: 0.5rem;
}
.section_social svg{
    width: 35px;
    height: 35px;
    opacity: 0.8;
    transition: 0.3s all;
}
.section_social svg:hover{
    opacity: 1;
    transform: scale(1.3);
}

.box_auto{
    height: auto;
}

.box_auto .info_experience{
    width: 100%;
}
.box_mgTop{
    margin-top: 1rem;
}
.box_mgBottom{
    margin-bottom: 1rem;
}
.contactMe{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 0.4rem;
    opacity: 0.8;
}
.contactMe a{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    width: 50%;
}

@media (max-width: 991px){
    .nav_list{
        display: none;
    }
    .section_about{
        margin-left: 0;
        margin-top: 1rem;
    }
    .name{
        font-size: 30px;
    }
    .occupation{
        font-size: 20px;
    }
    .arrow_up{
        display: none;
    }
}