@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@400;500;700&display=swap');

body{
    background: linear-gradient(90deg, #010626 33%, #2266AF 100%);
    overflow-y: scroll;
}
a, button{
    color: #E2E8F0;
    text-decoration: none;
}
.container{
    display: flex;
    max-width: 1046px;
    padding: 0 1rem;
    margin: 4rem auto;
    justify-content: space-between;
    font-family: 'Roboto', 'Open Sans';
    color: #E2E8F0;;
}

.section_info{
    min-width: 50%;
}

.cursor{
    z-index: 999;
    position: fixed;
    background: #2696E8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2697E8, 0 0 60px #2697E8, 0 0 100px #2697E8;
    transform: translate(-50%, -50%);
    animation: colors 5s infinite;
    display: none;
}

@keyframes colors{

    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2696E8;
    opacity: 0.2;
    transform: translate(-30%, -30%);
}

.meImg{
    border-radius: 50%;
    box-shadow: 0px 0px 8px 4px #2266B1;
}

.name{
    font-weight: 700;
    font-size: 48px;
    color: #E2E8F0;
    transition: 0.4s all;
    margin: 16px auto;
    text-align: start;
}

.name:hover{
    opacity: 0.8;
}

.occupation{
    font-weight: 700;
    font-size: 24px;
    color: #E2E8F0;
    transition: 0.4s all;
    margin: 0 auto;
    text-align: start;
}

.occupation:hover{
    opacity: 0.8;
}

.section_exp > span{
    opacity: 0.8;
    font-size: 17px;
    line-height: 140%;
    text-align: start;
}
.nav_list{
    margin-top: 60px;
    padding: 0;
}
.nav_list li{
    list-style-type: none;
}
.nav_list li button{
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 600;
    transition: 0.3s all;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: none;
}
.nav_list li:hover button{
    color: #fff;
    opacity: 1;
    font-size: 20px;
}
.nav_list li span{
    margin-right: 1rem;
}
.link_work{
    font-weight: 700;
    text-decoration: none;
    opacity: 1;
    color: #fff;
}
.section_about{
    margin-left: 1rem;
    opacity: 0.8;
    margin-bottom: 5rem;
}
.about{
    line-height: 150%;
}
.box_experience{
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.5s all;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.box_minor{
    height: 50px;
}
.box_experience:hover{
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .20);
    border-radius: 5px;
}
.year_experience, .info_experience{
    transition: 0.5s all;
    height: 100%;
    position: relative;
}
.box_experience:hover .year_experience, .box_experience:hover .profission_experience{
    color: #18e2e6;
}
.box_experience .arrow_up{
    position: absolute;
    top: 0;
    transition: 0.5s all;
}
.box_experience:hover .arrow_up{
    top: -8px;
}
.info_experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 67%;
}
.year_experience{
    margin-right: 1rem;
    width: 32%;
}
.desc_experience{
    font-size: 14px;
    margin-top: 1rem;
}
.section_social{
    margin-top: 4rem;
    display: flex;
    gap: 0.5rem;
}
.section_social svg{
    width: 35px;
    height: 35px;
    opacity: 0.8;
    transition: 0.3s all;
}
.section_social svg:hover{
    opacity: 1;
    transform: scale(1.3);
}

.box_auto{
    height: auto;
}

.box_auto .info_experience{
    width: 100%;
}



@media (max-width: 991px){
    .container{
        max-width: 100%;
        flex-direction: column;
    }
    .nav_list{
        display: none;
    }
    .section_about{
        margin-left: 0;
        margin-top: 1rem;
    }
    .name{
        font-size: 30px;
    }
    .occupation{
        font-size: 20px;
    }
    .arrow_up{
        display: none;
    }
}